.header__lang-link {
  line-height: 1.17px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 80%;
  transition: opacity .5s;
}

@media screen and (max-width: 544px) {
  .header__lang-link {
    line-height: 1.115;
    font-size: 18px;
	}
}