.place__title {
  max-width: 460px;
  grid-area: title;
  line-height: 1.056;
  font-size: 72px;
  font-weight: 900;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1152px) {
  .place__title {
    max-width: 440px;
	}
}

@media screen and (max-width: 948px) {
  .place__title {
    max-width: 327px;
    line-height: 1.095;
    font-size: 42px;
	}
}

@media screen and (max-width: 748px) {
  .place__title {
    max-width: 250px;
    font-size: 38px;
	}
}

@media screen and (max-width: 648px) {
  .place__title {
    max-width: 288px;
    line-height: 1.094;
    font-size: 32px;
    padding: 0 16px;
	}
}