.photo-grid {
  max-width: 1184px;
  margin: 89px 0 0 0;
}

@media screen and (max-width: 1152px) {
  .photo-grid {
    max-width: 928px;
	}
}

@media screen and (max-width: 896px) {
  .photo-grid {
    max-width: 720px;
    margin-top: 88px;
	}
}

@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 284px;
    margin-top: 64px;
	}
}