.lead {
  width: 100%;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0 0;
}

@media screen and (max-width: 1152px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
	}
}

@media screen and (max-width: 930px) {
  .lead {
    max-width: none;
	}
}