.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0 0;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin: 48px 0 0;
	}
}