.lead__image {
  width: 100%;
  height: calc(984px / 1.6);
}

@media screen and (max-width: 1152px) {
  .lead__image {
    height: calc(928px / 1.6);
	}
}

@media screen and (max-width: 930px) {
  .lead__image {
    height: calc(100vw / 1.6);
	}
}