.place__link {
  display: block;
  line-height: 1.22;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.place__link:hover {
  opacity: 80%;
  transition: opacity .5s;
}