.place {
  width: 100%;
  display: grid;
  gap: 48px 40px;
  grid-template-areas: 
  "title website"
  "image paragraphs";
}

@media screen and (max-width: 1152px) {
  .place {
    column-gap: 32px;
	}
}

@media screen and (max-width: 948px) {
  .place {
    column-gap: 28px;
	}
}

@media screen and (max-width: 648px) {
  .place {
    row-gap: 32px;
    grid-template-areas: 
    "title"
    "website"
    "image"
    "paragraphs";
	}
}