.footer {
  width: 100%;
  max-width: calc(100vw - 48px * 2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 92px 0 0;
  padding: 0 0 24px 0;
}

@media screen and (max-width: 896px) {
  .footer {
    max-width: calc(100vw - 24px * 2);
    margin-top: 88px;
	}
}

@media screen and (max-width: 760px) {
  .footer {
    max-width: calc(100vw - 16px * 2);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 48px;
    margin-top: 64px;
	}
}